@media (max-width: 768px) {
    .header {
        height: auto;
        width: 100%; 
    }

    .container-nav {
        height: auto; 
        padding-top: 30px;
    }

    #logo {
        height: 50px; 
        padding-left: 5px;
    }

    .perfil {
        height: 200px; 
    }

    .item-nav {
        flex-direction: column-reverse; 
        align-items: center;
        height: auto; 
        font-size: 10px; 
        padding-top: 50px; 
    }

    .menu > a:link {
        font-size: 12px;
    }

    #buttonH {
        height: 30px;
        width: 110px;
    }

    #nb {
        align-items: center;
        gap: 50px;
    }

    #nb > h1 {
        font-size: 40px;
    }

    .separa {
        width: 100%;
        height: 1px;
    }

    #sobre {
        height: auto; 
        background-image: none; 
        background-color: #FD288D;
        text-align: center; 
    }

    .intro {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
        padding-top: 20px; 
    }

    #SM {
        color: #2b1821ed;
    }

    .textosm {
        height: auto; 
        width: 100%; 
        text-align: center; 
        padding: 10px;
    }
}






